.search-form {
  position: relative;
  margin: 0 30px 0 0;
  @include media(phablet, max) {
    margin: 0;
  }
  &__input[type="search"] {
    position: relative;
    padding: 5px 20px 5px 0;
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    color: #999;
    background-color: transparent;
    text-transform: uppercase;
    box-shadow: none;
    border-bottom: 1px solid #999999;
    border-radius: 0;
    width: 150px;
    font-family: "Orienta", sans-serif;
    @include media(phablet, max) {
      width: 100%;
    }
    &:focus {
      outline: none;
      border: none;
      border-bottom: 1px solid #999999;
      background-color: transparent;
    }
  }
  &__button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    background-color: transparent;
    svg {
      path {
        transition: var(--transition);
      }
    }
    &:hover,
    &:focus {
      outline: none;
      background-color: transparent;
    }
  }
  &__decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--second-text-color);
    z-index: 2;
    transition: var(--transition);
  }
}

.search-form input:focus ~ .search-form__decoration {
  width: 100%;
}

.search-form input:focus ~ .search-form__button svg path {
  fill: var(--second-text-color);
}
