.storefront-sorting {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.woocommerce-ordering {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  &__text {
    font-size: 14px;
    color: #999;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
  }
}

.site-main ul.products.columns-2 li.product {
  margin-bottom: 70px;
  @include media(tablet-wide, max) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.woocommerce-products-header {
  display: none;
}

.woocommerce-account.left-sidebar {
  .content-area {
    width: 100%;
  }
  .entry-title {
    font-size: 32px;
  }
  h2 {
    margin: 0 0 10px 0;
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
  }
}

.woocommerce-cart.left-sidebar {
  .content-area {
    width: 100%;
  }
  .entry-title {
    font-size: 32px;
  }
  h2 {
    margin: 0 0 10px 0;
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
  }
}

.form-row {
  input,
  textarea {
    padding: 4px 10px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-shadow: none;
    transition: var(--transition);
    color: #999;
    &:focus {
      outline: none;
      border: 1px solid var(--accent-color);
      background-color: #fff;
    }
  }
  textarea {
    height: 100px;
  }
  .input-text--read {
    background-color: #f7f7f7;
    &:focus {
      outline: none;
      border: 1px solid #d9d9d9;
      background-color: #f7f7f7;
    }
  }
}

.woocommerce-account {
  .entry-header {
    display: none;
  }
}

.woocommerce-LostPassword {
  font-size: 14px;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  background-color: var(--accent-color);
}

.woocommerce-customer-details address {
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.woocommerce-customer-details p {
  margin: 0;
}

.woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.woocommerce-customer-details-info span {
  margin-right: 5px;
}

#billing_city_field {
  display: inline-block;
  width: 200px;
  .woocommerce-input-wrapper {
    display: inline-block;
    width: 100%;
  }
  input {
    width: 100%;
    display: inline-block;
  }
}

#billing_postcode_field {
  display: inline-block;
  width: 50px;
  .woocommerce-input-wrapper {
    display: inline-block;
    width: auto;
  }
  input {
    width: auto;
    display: inline-block;
  }
}
