:root {
  --primary-text-color: #2a2a2a;
  --second-text-color: #8a0000;
  --accent-color: #8a0000;
  --transition: all 0.3s ease;
}

:root {
  --primary-text-color: #2a2a2a;
  --second-text-color: #8a0000;
  --accent-color: #8a0000;
  --transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
body.fixed {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--second-text-color);
  transition: var(--transition);
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
}
a:focus {
  outline: none;
}

.hentry .entry-content a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.home .site-content {
  padding-top: 175px;
}
@media (max-width: 767px) {
  .home .site-content {
    padding-top: 75px;
  }
}

.site-content {
  padding-top: 200px;
}
@media (max-width: 767px) {
  .site-content {
    padding-top: 130px;
  }
}

.site-main {
  margin-bottom: 0;
}

.content-area {
  margin-bottom: 0;
  padding-bottom: 35px;
}

.main-text {
  margin: 25px 0;
  padding: 20px 15px;
  text-align: center;
  font-size: 14px;
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

.home .main-banner {
  display: block;
}

.product_title {
  margin: 0 0 10px 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  letter-spacing: 0px;
}

.home.left-sidebar .content-area {
  width: 100%;
  margin: 0;
}

.woocommerce-products-header__title,
.page-title {
  margin: 0 0 0 0;
  color: var(--primary-text-color);
  font-size: 21px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  letter-spacing: 0px;
}

.main-banner {
  position: relative;
  padding-bottom: 15.625%;
  display: none;
}
@media (max-width: 767px) {
  .main-banner {
    padding-bottom: 30%;
  }
}
@media (max-width: 575px) {
  .main-banner {
    padding-bottom: 40%;
  }
}
.main-banner__img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.storefront-breadcrumb {
  display: none;
}

button,
.button {
  border-radius: 2px;
  color: #fff;
  background-color: var(--second-text-color);
  transition: var(--transition);
  line-height: 1;
  font-family: "Open Sans", Sans-serif;
}
button:hover,
.button:hover {
  color: #fff;
  background-color: var(--accent-color);
}
button:focus,
.button:focus {
  color: #fff;
  outline: none;
}

button.alt.add-to-cart {
  padding: 10px 30px 5px 30px;
  border-radius: 2px;
  background-color: var(--second-text-color);
  transition: var(--transition);
  line-height: 1;
}
button.alt.add-to-cart:hover {
  background-color: var(--accent-color);
}

.wc-proceed-to-checkout {
  text-align: right;
}

.woocommerce-cart-form {
  margin-bottom: 0;
}

table.cart {
  margin-bottom: 20px;
}

.wc-proceed-to-checkout .button.checkout-button {
  background-color: var(--second-text-color);
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  width: auto;
  display: inline-block;
  padding: 15px;
}
.wc-proceed-to-checkout .button.checkout-button:hover {
  background-color: var(--accent-color);
}

.site-footer {
  padding: 50px 0;
  color: #fff;
  background-color: #0a0a0a;
  border-top: 4px solid var(--accent-color);
}
@media (max-width: 767px) {
  .site-footer {
    padding: 25px 0;
  }
}

.footer-widgets {
  padding-top: 0;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-widgets.col-3 .block {
  width: 33.3333%;
  margin-right: 0;
}
@media (max-width: 767px) {
  .footer-widgets.col-3 .block {
    width: 50%;
    padding-right: 15px;
    margin-bottom: 15px;
  }
}

.footer-widgets.col-3 .block .menu-footer-menu-container {
  margin-left: 50px;
}
@media (max-width: 1023px) {
  .footer-widgets.col-3 .block .menu-footer-menu-container {
    margin-left: 0;
  }
}

.footer-widgets.col-3 .block.footer-widget-3 .widget {
  max-width: 265px;
  margin-left: auto;
}
@media (max-width: 1023px) {
  .footer-widgets.col-3 .block.footer-widget-3 .widget {
    max-width: 100%;
    margin-left: 0;
  }
}

.site-footer a.contacts__item-text {
  text-decoration: none;
  color: var(--primary-text-color);
}

.site-footer a:not(.button):not(.components-button) {
  color: #fff;
}
.site-footer a:not(.button):not(.components-button):hover {
  color: var(--accent-color);
}

.textwidget p {
  font-size: 14px;
  margin-bottom: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.widget {
  margin: 0;
}

.menu-info-menu-container ul.footer-menu {
  margin-bottom: 20px;
}
.menu-info-menu-container ul.footer-menu li a {
  font-weight: 400;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: var(--transition);
  border: none;
}
.site-header--fixed {
  background-color: var(--accent-color);
}
.site-header--fixed .site-header__logo {
  width: 70px;
  height: 70px;
}
.site-header--fixed .site-header__logo .custom-logo-link img {
  opacity: 0;
  visibility: hidden;
}
.site-header--fixed .site-header__logo img.white-logo {
  opacity: 1;
  visibility: visible;
}
.site-header--fixed .search-form__input[type=search] {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.site-header--fixed .search-form__input[type=search]:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.site-header--fixed .search-form__decoration {
  background-color: #ccc;
}
.site-header--fixed .search-form input:focus ~ .search-form__button svg path {
  fill: #ccc;
}
.site-header--fixed .search-form__input[type=search]::-moz-placeholder {
  color: #fff;
}
.site-header--fixed .search-form__input[type=search]:-ms-input-placeholder {
  color: #fff;
}
.site-header--fixed .search-form__input[type=search]::placeholder {
  color: #fff;
}
.site-header--fixed .search-form__button svg path {
  fill: #fff;
}
.site-header--fixed .top-menu__link {
  color: #fff;
}
.site-header--fixed .top-menu__link:hover {
  color: #ccc;
}
.site-header--fixed ul.main-menu li a {
  padding: 10px;
}
.site-header--fixed ul.main-menu li > ul li a {
  padding: 0;
}
.site-header--fixed ul.main-menu li > ul li > ul li a {
  padding: 0;
}
.site-header--fixed .top-menu__link-icon svg path {
  fill: #fff;
}
.site-header--fixed .hamburger > span {
  background-color: #fff;
}
.site-header--fixed .hamburger > span::before {
  background-color: #fff;
}
.site-header--fixed .hamburger > span::after {
  background-color: #fff;
}
.site-header--fixed .site-header__menu {
  background-color: #fff;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}
.site-header__top {
  display: flex;
  align-items: center;
  padding: 0 40px;
}
@media (max-width: 767px) {
  .site-header__top {
    padding: 0 20px;
  }
}
@media (max-width: 575px) {
  .site-header__top {
    flex-wrap: wrap;
    padding: 0 20px 20px 20px;
  }
}
.site-header__logo {
  position: relative;
  flex-shrink: 0;
  order: 1;
  width: 120px;
  height: 120px;
  transition: var(--transition);
}
@media (max-width: 767px) {
  .site-header__logo {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 575px) {
  .site-header__logo {
    width: 70px;
    height: 70px;
  }
}
.site-header__logo img.white-logo {
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  visibility: hidden;
}
.site-header__logo .custom-logo-link img {
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 575px) {
  .site-header__logo {
    order: 1;
  }
}
.site-header__search {
  margin-left: auto;
  order: 2;
}
@media (max-width: 575px) {
  .site-header__search {
    order: 4;
    width: 100%;
  }
}
.site-header__top-menu {
  order: 3;
}
@media (max-width: 575px) {
  .site-header__top-menu {
    order: 2;
    margin-left: auto;
  }
}
.site-header__menu {
  position: relative;
  background-color: #f0f0f0;
  transition: var(--transition);
}
.site-header__main-menu {
  max-width: 1078px;
  margin: 0 auto;
}

.home.post-type-archive-product .site-header {
  margin-bottom: 0;
}

.hamburger {
  position: relative;
  display: none;
  align-items: center;
  order: 4;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  margin-left: 15px;
}
@media (max-width: 767px) {
  .hamburger {
    order: 3;
    display: flex;
  }
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-text-color);
  transition: var(--transition);
}

.hamburger > span::before {
  content: "";
  top: -8px;
}

.hamburger > span::after {
  content: "";
  top: 8px;
}

.hamburger.active > span {
  transform: rotate(45deg);
  background-color: var(--second-text-color);
}

.hamburger.active > span::before {
  top: 0;
  transform: rotate(0);
  background-color: var(--second-text-color);
}

.hamburger.active > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: var(--second-text-color);
}

.home.page:not(.page-template-template-homepage) .site-header {
  margin-bottom: 0;
}

table.cart {
  border: 1px solid #d9d9d9;
}
table.cart th {
  padding: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  vertical-align: middle;
  background-color: #fff;
}
table.cart td.product-remove {
  padding: 10px;
  width: 35px;
  border-top: none;
}
@media (max-width: 479px) {
  table.cart td.product-remove {
    padding: 10px 0 10px 10px;
  }
}
table.cart tbody tr td {
  padding: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  vertical-align: middle;
  background-color: #fff;
}
@media (max-width: 767px) {
  table.cart tbody tr td .quantity {
    margin-left: auto;
    width: 102px;
  }
}
table.cart tbody tr:nth-child(2n) td {
  background-color: #fff;
}
table.cart a.remove {
  width: 22px;
  height: 22px;
}
table.cart a.remove:before {
  width: 18px;
  height: 18px;
  transition: var(--transition);
  color: #d7d7d7;
}
table.cart a.remove:hover:before {
  color: var(--second-text-color);
}
table.cart td.product-name a {
  color: var(--primary-text-color);
  text-decoration: none;
}
table.cart td.product-name a:hover {
  color: var(--second-text-color);
}
table.cart td.product-thumbnail {
  width: 60px;
}
table.cart td.product-thumbnail img {
  margin: 0;
}
@media (max-width: 479px) {
  table.cart td.product-thumbnail {
    display: none;
  }
}
table.cart .product-variation .variation {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  table.cart .product-variation .variation {
    margin: 0;
    justify-content: flex-end;
  }
}
table.cart .product-variation .variation dt {
  display: none;
}
table.cart .product-variation .variation dd {
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  table.cart .product-variation .product__simple-attribute--cart {
    text-align: right;
  }
}
@media (max-width: 479px) {
  table.cart td.product-quantity .qty {
    width: 30px;
  }
}

.entry-title,
.cart_totals h2 {
  margin: 0 0 10px 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

@media (max-width: 767px) {
  table.cart td.product-remove a.remove {
    position: relative;
    top: 0;
    right: 0;
    font-size: 14px;
  }
}

.cart-collaterals .cart_totals {
  width: 100%;
}

table.shop_table tbody tr th {
  padding: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  vertical-align: middle;
  background-color: #fff;
}
table.shop_table tbody tr td {
  padding: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  vertical-align: middle;
  background-color: #fff;
}
table.shop_table tbody tr:nth-child(2n) td {
  background-color: #fff;
}
table.shop_table .product-quantity .quantity {
  justify-content: flex-end;
}

@media (max-width: 1023px) {
  .woocommerce-cart.left-sidebar .widget-area {
    display: none;
  }
}
@media (max-width: 1023px) {
  .woocommerce-cart.left-sidebar .content-area {
    width: 100%;
  }
}

table.shop_table_responsive tr td {
  display: table-cell;
  text-align: left;
}

table.shop_table_responsive tr td[data-title]::before {
  display: none;
}

table.cart td.actions {
  padding: 0 10px 10px 0;
}
@media (max-width: 767px) {
  table.cart td.actions {
    text-align: right;
  }
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "test1 test2 test3" "test4 test2 test5";
  grid-gap: 20px;
}
@media (max-width: 1023px) {
  .category {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "test1 test2" "test3 test4" "test5  ..";
  }
}
@media (max-width: 575px) {
  .category {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "test1" "test2" "test3" "test4" "test5";
  }
}
.category__item:nth-child(1) {
  grid-area: test1;
}
.category__item:nth-child(2) {
  grid-area: test2;
}
.category__item:nth-child(3) {
  grid-area: test3;
}
.category__item:nth-child(4) {
  grid-area: test4;
}
.category__item:nth-child(5) {
  grid-area: test5;
}
.category__link {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 575px) {
  .category__link {
    max-height: 230px;
  }
}
.category__link:hover .category__img {
  transform: scale(1.05);
}
.category__link:hover .category__title {
  background-color: rgba(138, 0, 0, 0.9);
}
.category__img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  transition: var(--transition);
}
.category__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: rgba(138, 0, 0, 0.7);
  font-size: 16px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  letter-spacing: 1px;
  z-index: 2;
  transition: var(--transition);
}

.contacts {
  max-width: 265px;
}
.contacts__item:first-child {
  font-weight: bold;
}
.contacts__item:last-child {
  margin-top: 20px;
}
.contacts__item-text {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", Sans-serif;
}

.login .form-row label {
  display: block;
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: "Arial", sans-serif;
  margin-bottom: 10px;
}
.login__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login .show-password-input {
  display: none;
}

.register {
  position: relative;
}
.register .form-row label {
  display: block;
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: "Arial", sans-serif;
  margin-bottom: 10px;
}
.register .form-row .woocommerce-form__label-for-checkbox {
  margin-top: 10px;
}
.register p {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: "Arial", sans-serif;
}
.register .register__text {
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Arial", sans-serif;
}
.register__info {
  display: flex;
  justify-content: space-between;
}
.register__info .form-row:first-child {
  width: 164px;
  margin-right: 20px;
}
ul.footer-menu li a {
  color: var(--second-text-color) !important;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: var(--transition);
}
ul.footer-menu li a:hover {
  color: var(--accent-color) !important;
}

ul.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  ul.main-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50vw;
    height: 100vh;
    background-color: var(--accent-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px;
    transition: var(--transition);
  }
  ul.main-menu.active {
    left: 0;
  }
}
@media (max-width: 767px) {
  ul.main-menu li {
    margin-bottom: 10px;
  }
}
ul.main-menu li a {
  display: block;
  padding: 20px 10px;
  font-size: 13px;
  color: var(--primary-text-color);
  text-transform: uppercase;
  transition: var(--transition);
  font-family: "Orienta", sans-serif;
}
ul.main-menu li a:hover {
  color: var(--second-text-color);
}
@media (max-width: 767px) {
  ul.main-menu li a {
    color: #fff;
    padding: 0;
  }
}
ul.main-menu li > ul {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  width: 100%;
  background-color: #fff;
  margin-left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1078px;
  padding: 30px 50px 50px 50px;
  box-shadow: 0px 0px 40px rgba(163, 163, 163, 0.25);
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  ul.main-menu li > ul {
    display: none;
  }
}
ul.main-menu li > ul li {
  width: 25%;
}
ul.main-menu li > ul li a {
  display: block;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  color: var(--second-text-color);
  font-family: "Arial", sans-serif;
  margin-bottom: 5px;
}
ul.main-menu li > ul li > ul {
  position: relative;
  display: block;
  box-shadow: none;
  padding: 0;
}
@media (max-width: 767px) {
  ul.main-menu li > ul li > ul {
    display: none;
  }
}
ul.main-menu li > ul li > ul li {
  width: 100%;
}
ul.main-menu li > ul li > ul li a {
  padding: 0;
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
  color: var(--primary-text-color);
  margin-bottom: 0;
}
ul.main-menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
ul.main-menu li:hover > ul li > ul {
  opacity: 1;
  visibility: visible;
  top: 0;
}

ul.main-menu-0 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  ul.main-menu-0 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75vw;
    height: 100vh;
    background-color: var(--accent-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px;
    transition: var(--transition);
  }
  ul.main-menu-0.active {
    left: 0;
    overflow-y: auto;
  }
}
@media (max-width: 767px) {
  ul.main-menu-0 li {
    margin-bottom: 10px;
  }
}
ul.main-menu-0 li a {
  display: block;
  padding: 20px 10px;
  font-size: 13px;
  color: var(--primary-text-color);
  text-transform: uppercase;
  transition: var(--transition);
  font-family: "Orienta", sans-serif;
}
ul.main-menu-0 li a:hover {
  color: var(--second-text-color);
}
@media (max-width: 767px) {
  ul.main-menu-0 li a {
    color: #fff;
    padding: 0;
  }
}
ul.main-menu-0 li > ul {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  width: 100%;
  background-color: #fff;
  margin-left: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1078px;
  padding: 30px 50px 50px 50px;
  box-shadow: 0px 0px 40px rgba(163, 163, 163, 0.25);
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
  max-height: 400px;
  overflow-y: auto;
}
@media (max-width: 767px) {
  ul.main-menu-0 li > ul {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0);
    padding: 0;
    z-index: 2;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    box-shadow: none;
    padding-left: 15px;
    overflow-y: unset;
  }
}
ul.main-menu-0 li > ul li {
  width: 25%;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  ul.main-menu-0 li > ul li {
    width: 100%;
    margin-bottom: 5px;
  }
}
ul.main-menu-0 li > ul li a {
  display: block;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  color: var(--second-text-color);
  font-family: "Arial", sans-serif;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  ul.main-menu-0 li > ul li a {
    color: #fff;
    font-weight: normal;
  }
}
ul.main-menu-0 li > ul li > ul {
  position: relative;
  display: block;
  box-shadow: none;
  padding: 0;
  height: auto;
  overflow-y: auto;
  transition: none;
}
@media (max-width: 767px) {
  ul.main-menu-0 li > ul li > ul {
    display: none;
    padding-left: 30px;
  }
}
ul.main-menu-0 li > ul li > ul li {
  margin-bottom: 0;
  width: 100%;
}
ul.main-menu-0 li > ul li > ul li a {
  padding: 0;
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
  color: var(--primary-text-color);
  margin-bottom: 0;
}
@media (max-width: 767px) {
  ul.main-menu-0 li > ul li > ul li a {
    color: #fff;
  }
}
ul.main-menu-0 li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
@media (max-width: 767px) {
  ul.main-menu-0 li:hover > ul {
    top: 0;
  }
}
ul.main-menu-0 li:hover > ul li > ul {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.site-header ul.menu li.current-menu-item > a {
  color: var(--accent-color);
}

@media (max-width: 767px) {
  .widget-area {
    display: none;
  }
}

.widget-area .widget .sidebar-menu {
  font-family: "Arial", sans-serif;
}
.widget-area .widget .sidebar-menu li {
  padding: 5px 0;
}
.widget-area .widget .sidebar-menu li a {
  font-weight: bold;
  color: var(--second-text-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Arial", sans-serif;
}
.widget-area .widget .sidebar-menu li a:hover {
  color: var(--accent-color);
}
.widget-area .widget .sidebar-menu li > ul {
  margin-left: 10px;
  display: none;
}
.widget-area .widget .sidebar-menu li > ul li {
  padding: 2px 0;
}
.widget-area .widget .sidebar-menu li > ul li a {
  color: var(--primary-text-color);
}
.widget-area .widget .sidebar-menu li > ul li > ul li {
  padding: 2px 0;
}
.widget-area .widget .sidebar-menu li > ul li > ul li a {
  color: var(--primary-text-color);
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
}

.widget-area .widget .product-categories li > ul li > ul li {
  margin-bottom: 0;
}

.widget_product_categories ul li {
  margin-bottom: 5px;
}

.widget_product_categories ul .children {
  margin-top: 5px;
}

.widget-area .widget .product-categories {
  font-family: "Arial", sans-serif;
}
.widget-area .widget .product-categories li {
  padding: 5px 0;
}
.widget-area .widget .product-categories li:before {
  display: none;
}
.widget-area .widget .product-categories li.current-cat > a {
  color: var(--second-text-color);
}
.widget-area .widget .product-categories li a {
  font-weight: bold;
  color: var(--second-text-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Arial", sans-serif;
}
.widget-area .widget .product-categories li a:hover {
  color: var(--accent-color);
}
.widget-area .widget .product-categories li > ul {
  margin-left: 10px;
}
.widget-area .widget .product-categories li > ul li {
  padding: 2px 0;
}
.widget-area .widget .product-categories li > ul li a {
  color: var(--primary-text-color);
}
.widget-area .widget .product-categories li > ul li > ul li {
  padding: 2px 0;
}
.widget-area .widget .product-categories li > ul li > ul li a {
  color: var(--primary-text-color);
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
}

.top-menu {
  display: flex;
  align-items: center;
}
.top-menu__item:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 767px) {
  .top-menu__item:not(:last-child) {
    margin-right: 15px;
  }
}
.top-menu__link {
  position: relative;
  font-size: 11px;
  color: var(--primary-text-color);
  text-transform: uppercase;
  display: block;
  font-family: "Orienta", sans-serif;
}
.top-menu__link:hover .top-menu__link-icon svg path {
  fill: var(--second-text-color);
}
@media (max-width: 767px) {
  .top-menu__link-text {
    display: none;
  }
}
.top-menu__link-icon {
  display: none;
}
.top-menu__link-icon svg {
  width: 25px;
  height: 25px;
}
.top-menu__link-icon svg path {
  transition: var(--transition);
  fill: var(--primary-text-color);
}
@media (max-width: 767px) {
  .top-menu__link-icon {
    display: block;
  }
}
.top-menu__cart-number2 {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--second-text-color);
  font-size: 10px;
  line-height: 19px;
  font-family: "Orienta", sans-serif;
}
@media (max-width: 767px) {
  .top-menu__cart-number2 {
    top: -5px;
    right: -5px;
  }
}

.woocommerce-order-details__title,
.woocommerce-column__title {
  margin: 0 0 10px 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.shop_table.order_details {
  border: 1px solid #D9D9D9;
}
.shop_table.order_details th {
  padding: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  vertical-align: middle;
  background-color: #fff;
}
.shop_table.order_details tbody tr td {
  padding: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  vertical-align: middle;
  background-color: #fff;
}
@media (max-width: 767px) {
  .shop_table.order_details tbody tr td .quantity {
    margin-left: auto;
    width: 102px;
  }
}
.shop_table.order_details tbody tr:nth-child(2n) td {
  background-color: #fff;
}
.shop_table.order_details tfoot tr td {
  padding: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  vertical-align: middle;
  background-color: #fff;
}
@media (max-width: 767px) {
  .shop_table.order_details tfoot tr td .quantity {
    margin-left: auto;
    width: 102px;
  }
}
.shop_table.order_details tfoot tr:nth-child(2n) td {
  background-color: #fff;
}

.woocommerce-order-overview.order_details li {
  padding: 10px 0;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  vertical-align: middle;
  background-color: #fff;
}
.woocommerce-order-overview.order_details li strong {
  font-size: 14px;
}
.woocommerce-order-overview.order_details:before, .woocommerce-order-overview.order_details:after {
  display: none;
}

.woocommerce-checkout.left-sidebar .content-area {
  width: 100%;
}
.woocommerce-checkout.left-sidebar .entry-title {
  font-size: 32px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .woocommerce-checkout.left-sidebar .entry-title {
    margin-bottom: 20px;
  }
}

form.checkout h3 {
  margin: 0 0 10px 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}
form.checkout .col2-set {
  width: 50%;
  margin-right: 0;
  padding-right: 15px;
}
@media (max-width: 767px) {
  form.checkout .col2-set {
    width: 100%;
  }
}
form.checkout #order_review {
  width: 50%;
}
@media (max-width: 767px) {
  form.checkout #order_review {
    width: 100%;
  }
}
form.checkout #order_review .shop_table {
  border: 1px solid #d9d9d9;
  margin-bottom: 10px;
}
form.checkout #order_review .shop_table .product-thumbnail {
  width: 60px;
}
form.checkout #order_review .shop_table .product-thumbnail img {
  width: 32px;
  height: 32px;
}
form.checkout #order_review .shop_table .product-remove {
  width: 20px;
}
form.checkout #order_review .shop_table a.remove:before {
  transition: var(--transition);
  color: #d7d7d7;
}
form.checkout #order_review .shop_table a.remove:hover:before {
  color: var(--second-text-color);
}
form.checkout #order_review .shop_table .product-variation .variation {
  display: flex;
  align-items: center;
}
form.checkout #order_review .shop_table .product-variation .variation dt {
  display: none;
}
form.checkout #order_review .shop_table .product-variation .variation dd {
  margin: 0;
  padding-right: 5px;
  text-transform: uppercase;
}
form.checkout #order_review .shop_table .product-quantity {
  font-weight: normal;
}
form.checkout #order_review_heading {
  width: 50%;
}

#payment .payment_methods {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
#payment .place-order {
  padding: 0;
  margin-top: 0;
  background-color: #fff;
}
#payment .place-order .button {
  background-color: var(--second-text-color);
  transition: var(--transition);
  border-radius: 4px;
  font-size: 16px;
  padding: 16px 15px;
  max-width: 250px;
}
#payment .place-order .button:hover {
  background-color: var(--accent-color);
}

.woocommerce-terms-and-conditions-wrapper {
  font-size: 14px;
  color: #888;
  font-family: "Arial", sans-serif;
}

.woocommerce-billing-fields .form-row {
  position: relative;
  margin: 0;
}
.woocommerce-billing-fields .form-row::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: transparent;
  z-index: 2;
}
.woocommerce-billing-fields .form-row input {
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  font-family: "Arial", sans-serif;
}
.woocommerce-billing-fields .form-row input:focus {
  outline: none;
  border: none;
}

.woocommerce-additional-fields textarea {
  background-color: transparent;
  border: 1px solid #d9d9d9;
  box-shadow: none;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  color: var(--primary-text-color);
  transition: var(--transition);
}
.woocommerce-additional-fields textarea:focus {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--accent-color);
}
.woocommerce-additional-fields textarea::-moz-placeholder {
  color: #999;
}
.woocommerce-additional-fields textarea:-ms-input-placeholder {
  color: #999;
}
.woocommerce-additional-fields textarea::placeholder {
  color: #999;
}

.site {
  overflow: hidden;
}

.col2-set .form-row-first,
.col2-set .form-row-last {
  width: 100%;
  margin-right: 0;
}

.hentry .wp-post-image {
  margin-bottom: 0;
}

.woocommerce-pagination {
  width: 100%;
}
.woocommerce-pagination ul.page-numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.woocommerce-pagination ul.page-numbers li .page-numbers {
  padding: 7px 10px;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  color: #666;
  background-color: #fff;
  font-family: "Arial", sans-serif;
  border-radius: 2px;
  transition: var(--transition);
}
.woocommerce-pagination ul.page-numbers li .page-numbers.current, .woocommerce-pagination ul.page-numbers li .page-numbers:hover {
  color: #fff;
  background-color: var(--second-text-color);
}

.woocommerce-pagination .next:after {
  content: "";
  width: 13px;
  height: 13px;
  border-top: 2px solid #999;
  border-left: 2px solid #999;
  transform: rotate(135deg);
  margin-left: -6px;
  margin-top: -6px;
  transition: var(--transition);
}
.woocommerce-pagination .next:hover {
  background-color: #fff !important;
}
.woocommerce-pagination .next:hover:after {
  border-top: 2px solid var(--second-text-color);
  border-left: 2px solid var(--second-text-color);
}

.woocommerce-pagination .prev:after {
  content: "";
  width: 13px;
  height: 13px;
  border-top: 2px solid #999;
  border-left: 2px solid #999;
  transform: rotate(-45deg);
  margin-left: -6px;
  margin-top: -6px;
  transition: var(--transition);
}
.woocommerce-pagination .prev:hover {
  background-color: #fff !important;
}
.woocommerce-pagination .prev:hover:after {
  border-top: 2px solid var(--second-text-color);
  border-left: 2px solid var(--second-text-color);
}

.single-product div.product {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1023px) {
  .single-product div.product {
    flex-wrap: wrap;
  }
}

.single-product div.product .woocommerce-product-gallery {
  width: auto;
  margin: 0 75px 0 0;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .single-product div.product .woocommerce-product-gallery {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 767px) {
  .single-product div.product .woocommerce-product-gallery {
    width: 100%;
  }
}

.single-product div.product .summary {
  width: auto;
}
@media (max-width: 767px) {
  .single-product div.product .summary {
    width: 100%;
  }
}

.variations .label {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-text-color);
  font-family: "Arial", sans-serif;
  display: none !important;
}

.product_meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Arial", sans-serif;
  color: #999;
}
.product_meta span {
  font-size: 14px;
}
.product_meta span:not(:last-child) {
  margin-right: 15px;
}
.product_meta span span {
  color: var(--primary-text-color);
}
.product_meta span a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.single-product div.product .product_meta .posted_in {
  display: none;
}

a.reset_variations {
  display: none !important;
}

.woocommerce-product-details__short-description {
  font-size: 14px;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.woocommerce-product-details__short-description p {
  font-family: "Arial", sans-serif;
  margin-bottom: 0;
}

.single-product div.product .product_meta {
  padding: 0;
  margin: 0;
  border: none;
}

.single-product div.product .product_meta a {
  color: var(--primary-text-color);
  font-weight: bold;
  text-decoration: none;
}

.single-product div.product form.cart {
  padding: 0;
  margin: 0;
}

.single-product div.product .variations_button {
  padding-top: 0;
}

.woocommerce-variation-description {
  font-size: 14px;
  color: var(--primary-text-color);
}

.woocommerce-variation.single_variation {
  display: none !important;
}

.single-product div.product table.variations {
  margin: 0 0 10px 0;
}

.site-main ul.products.columns-2 li.product {
  display: flex;
  padding: 20px;
  transition: all 0.3s ease;
}

.site-main ul.products.columns-2 li.product:hover {
  box-shadow: 0px 0px 40px rgba(163, 163, 163, 0.25);
}

.site-main ul.products.columns-2 li.product:hover .product__content-title a {
  color: var(--second-text-color);
}

.site-main ul.products.columns-2 li.product:hover .product__content-title p {
  color: var(--second-text-color);
}

.site-main ul.products.columns-2 li.product:hover .product__content-title h2 {
  color: var(--second-text-color);
}

ul.products li.product h2,
ul.products li.product h3,
ul.products li.product .woocommerce-loop-product__title {
  font-size: 16px;
}

ul.products li.product h2,
ul.products li.product h3,
ul.products li.product .woocommerce-loop-product__title {
  margin-bottom: 5px;
  font-weight: bold;
}

.product__image {
  width: 100px;
  margin-right: 15px;
  flex-shrink: 0;
}
.product__content-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.product__content-meta .posted_in {
  display: none;
}
.product__content-meta-element {
  font-family: "Arial", sans-serif;
}
.product__content-meta-element span {
  font-size: 14px;
  color: #999;
}
.product__content-meta-element span:last-child {
  color: #000;
}
.product__content-title {
  display: flex;
  flex-wrap: wrap;
}
.product__content-title p {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-align: left;
  margin-bottom: 0;
}
.product__content-title:hover a,
.product__content-title:hover p,
.product__content-title:hover h2 {
  color: var(--second-text-color);
}
.product__simple-attribute {
  display: block;
  text-align: left;
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: "Arial", sans-serif;
  margin: 0 0 20px 0;
}
.product__simple-attribute--cart {
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
}
.product__content {
  width: 100%;
}
.product__content .woocommerce-loop-product__title {
  margin: 0 3px 0 0 !important;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-align: left;
  line-height: 1.6;
}
.product__content .cart {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.product__content .cart .quantity {
  margin-right: 15px;
  margin-top: -3px;
}
.product__content .cart .variations {
  width: 100%;
  margin: 0;
}
.product__content .cart .variations tr td {
  background-color: #fff;
  display: block;
  padding: 0 0 5px 0;
}
.product__content .cart .variations tr td .nice-select {
  margin-bottom: 10px;
}
.product__content .cart .variations tr td .reset_variations {
  display: none !important;
}
.product__content .cart .variations tr td.label {
  display: none;
}
.product__content .cart .single_variation_wrap {
  width: 100%;
}
.product__content .cart .single_variation_wrap .woocommerce-variation-add-to-cart {
  display: flex;
  align-items: center;
  display: none;
}
.product__content .cart .single_variation_wrap .woocommerce-variation-description,
.product__content .cart .single_variation_wrap .woocommerce-variation-price {
  display: none !important;
}
.product__content .cart .woocommerce-grouped-product-list {
  display: none;
}
.product__quantity {
  display: flex;
  align-items: center;
}
.product__quantity .quantity {
  margin-right: 15px;
}

ul.products li.product .button {
  margin-bottom: 0;
  padding: 10px 30px 5px 30px;
}

.added_to_cart.wc-forward {
  display: none;
}

.quantity {
  position: relative;
  display: flex;
  align-items: center;
}
.quantity .qty {
  width: 35px;
  height: 35px;
  padding: 5px 5px;
  border: 1px solid #D9D9D9;
  background-color: #fff;
  box-shadow: none;
  text-align: center;
  transition: var(--transition);
}
.quantity .qty:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.quantity--order {
  padding-right: 0;
  width: 76px;
}
.quantity--order .qty {
  width: 58px;
}
.quantity__btn {
  width: 26px;
  height: 35px;
  font-size: 20px;
  background: #fff;
  color: #666666;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  text-align: center;
  padding: 0;
  border: 1px solid #D9D9D9;
}
.quantity__btn--top {
  border-radius: 0 2px 2px 0;
  border-left: none;
}
.quantity__btn--down {
  border-radius: 2px 0 0 2px;
  border-right: none;
}
.quantity__btn svg path {
  transition: var(--transition);
}
.quantity__btn:hover, .quantity__btn:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: #fff;
}
.quantity__btn:hover svg path, .quantity__btn:focus svg path {
  stroke: #fff;
}

.search-form {
  position: relative;
  margin: 0 30px 0 0;
}
@media (max-width: 575px) {
  .search-form {
    margin: 0;
  }
}
.search-form__input[type=search] {
  position: relative;
  padding: 5px 20px 5px 0;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  color: #999;
  background-color: transparent;
  text-transform: uppercase;
  box-shadow: none;
  border-bottom: 1px solid #999999;
  border-radius: 0;
  width: 150px;
  font-family: "Orienta", sans-serif;
}
@media (max-width: 575px) {
  .search-form__input[type=search] {
    width: 100%;
  }
}
.search-form__input[type=search]:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #999999;
  background-color: transparent;
}
.search-form__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.search-form__button svg path {
  transition: var(--transition);
}
.search-form__button:hover, .search-form__button:focus {
  outline: none;
  background-color: transparent;
}
.search-form__decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--second-text-color);
  z-index: 2;
  transition: var(--transition);
}

.search-form input:focus ~ .search-form__decoration {
  width: 100%;
}

.search-form input:focus ~ .search-form__button svg path {
  fill: var(--second-text-color);
}

.nice-select {
  min-width: 100px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  color: var(--primary-text-color);
  background-color: #fff;
  height: auto;
  font-size: 14px;
  line-height: 1;
  padding: 8px 30px 8px 10px;
  letter-spacing: 0px;
  font-family: "Arial", sans-serif;
}
.nice-select:after {
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
}
.nice-select.open {
  border: 1px solid #8a0000;
}
.nice-select .list {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 2px 2px;
  font-family: "Arial", sans-serif;
}
.nice-select .list li {
  font-size: 14px;
  padding: 5px 10px;
  line-height: 1;
  min-height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nice-select .list li:hover {
  background-color: #e5e5e5;
}

.left-sidebar .widget-area {
  padding: 10px 15px;
  border: 1px solid #DFDFDF;
  width: 255px;
  margin-right: 25px;
}

.left-sidebar .content-area {
  width: calc(100% - 280px);
}
@media (max-width: 767px) {
  .left-sidebar .content-area {
    width: 100%;
  }
}

.storefront-sorting {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.woocommerce-ordering {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.woocommerce-ordering__text {
  font-size: 14px;
  color: #999;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

.site-main ul.products.columns-2 li.product {
  margin-bottom: 70px;
}
@media (max-width: 1023px) {
  .site-main ul.products.columns-2 li.product {
    width: 100%;
    margin-bottom: 30px;
  }
}

.woocommerce-products-header {
  display: none;
}

.woocommerce-account.left-sidebar .content-area {
  width: 100%;
}
.woocommerce-account.left-sidebar .entry-title {
  font-size: 32px;
}
.woocommerce-account.left-sidebar h2 {
  margin: 0 0 10px 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
}

.woocommerce-cart.left-sidebar .content-area {
  width: 100%;
}
.woocommerce-cart.left-sidebar .entry-title {
  font-size: 32px;
}
.woocommerce-cart.left-sidebar h2 {
  margin: 0 0 10px 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
}

.form-row input,
.form-row textarea {
  padding: 4px 10px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  box-shadow: none;
  transition: var(--transition);
  color: #999;
}
.form-row input:focus,
.form-row textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  background-color: #fff;
}
.form-row textarea {
  height: 100px;
}
.form-row .input-text--read {
  background-color: #f7f7f7;
}
.form-row .input-text--read:focus {
  outline: none;
  border: 1px solid #d9d9d9;
  background-color: #f7f7f7;
}

.woocommerce-account .entry-header {
  display: none;
}

.woocommerce-LostPassword {
  font-size: 14px;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  background-color: var(--accent-color);
}

.woocommerce-customer-details address {
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.woocommerce-customer-details p {
  margin: 0;
}

.woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.woocommerce-customer-details-info span {
  margin-right: 5px;
}

#billing_city_field {
  display: inline-block;
  width: 200px;
}
#billing_city_field .woocommerce-input-wrapper {
  display: inline-block;
  width: 100%;
}
#billing_city_field input {
  width: 100%;
  display: inline-block;
}

#billing_postcode_field {
  display: inline-block;
  width: 50px;
}
#billing_postcode_field .woocommerce-input-wrapper {
  display: inline-block;
  width: auto;
}
#billing_postcode_field input {
  width: auto;
  display: inline-block;
}