.site-main ul.products.columns-2 li.product {
  display: flex;
  padding: 20px;
  transition: all 0.3s ease;
}

.site-main ul.products.columns-2 li.product:hover {
  box-shadow: 0px 0px 40px rgba(163, 163, 163, 0.25);
}

.site-main ul.products.columns-2 li.product:hover .product__content-title a {
  color: var(--second-text-color);
}

.site-main ul.products.columns-2 li.product:hover .product__content-title p {
  color: var(--second-text-color);
}

.site-main ul.products.columns-2 li.product:hover .product__content-title h2 {
  color: var(--second-text-color);
}

ul.products li.product h2,
ul.products li.product h3,
ul.products li.product .woocommerce-loop-product__title {
  font-size: 16px;
}

ul.products li.product h2,
ul.products li.product h3,
ul.products li.product .woocommerce-loop-product__title {
  margin-bottom: 5px;
  font-weight: bold;
}

.product {
  &__image {
    width: 100px;
    margin-right: 15px;
    flex-shrink: 0;
  }
  &__content-meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .posted_in {
      display: none;
    }
  }
  &__content-meta-element {
    font-family: "Arial", sans-serif;
    span {
      font-size: 14px;
      color: #999;
      &:last-child {
        color: #000;
      }
    }
  }
  &__content-title {
    display: flex;
    flex-wrap: wrap;
    p {
      color: var(--primary-text-color);
      font-size: 16px;
      font-weight: bold;
      font-family: "Arial", sans-serif;
      text-align: left;
      margin-bottom: 0;
    }
    &:hover {
      a,
      p,
      h2 {
        color: var(--second-text-color);
      }
    }
  }
  &__simple-attribute {
    display: block;
    text-align: left;
    font-size: 14px;
    color: var(--primary-text-color);
    font-family: "Arial", sans-serif;
    margin: 0 0 20px 0;
    &--cart {
      text-transform: uppercase;
      margin: 0;
      font-size: 12px;
    }
  }
  &__content {
    width: 100%;
    .woocommerce-loop-product__title {
      margin: 0 3px 0 0 !important;
      color: var(--primary-text-color);
      font-size: 16px;
      font-weight: bold;
      font-family: "Arial", sans-serif;
      text-align: left;
      line-height: 1.6;
    }
    .cart {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 0;
      .quantity {
        margin-right: 15px;
        margin-top: -3px;
      }
      .variations {
        width: 100%;
        margin: 0;
        tr {
          td {
            background-color: #fff;
            display: block;
            padding: 0 0 5px 0;
            .nice-select {
              margin-bottom: 10px;
            }
            .reset_variations {
              display: none !important;
            }
          }
          td.label {
            display: none;
          }
        }
      }
      .single_variation_wrap {
        width: 100%;
        .woocommerce-variation-add-to-cart {
          display: flex;
          align-items: center;
          display: none;
        }
        .woocommerce-variation-description,
        .woocommerce-variation-price {
          display: none !important;
        }
      }
      .woocommerce-grouped-product-list {
        display: none;
      }
    }
  }
  &__quantity {
    display: flex;
    align-items: center;
    .quantity {
      margin-right: 15px;
    }
  }
}

ul.products li.product .button {
  margin-bottom: 0;
  padding: 10px 30px 5px 30px;
}

.added_to_cart.wc-forward {
  display: none;
}
