.single-product div.product {
  display: flex;
  align-items: flex-start;
  @include media(tablet-wide, max) {
    flex-wrap: wrap;
  }
}

.single-product div.product .woocommerce-product-gallery {
  width: auto;
  margin: 0 75px 0 0;
  flex-shrink: 0;
  @include media(tablet-wide, max) {
    margin: 0 0 20px 0;
  }
  @include media(tablet, max) {
    width: 100%;
  }
}

.single-product div.product .summary {
  width: auto;
  @include media(tablet, max) {
    width: 100%;
  }
}

.variations {
  .label {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-text-color);
    font-family: "Arial", sans-serif;
    display: none !important;
  }
}

.product_meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Arial", sans-serif;
  color: #999;
  span {
    font-size: 14px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    span {
      // font-weight: bold;
      color: var(--primary-text-color);
    }
    a {
      text-decoration: none;
      color: var(--primary-text-color);
    }
  }
}

.single-product div.product .product_meta .posted_in {
  display: none;
}

a.reset_variations {
  display: none !important;
}

.woocommerce-product-details__short-description {
  font-size: 14px;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  p {
    font-family: "Arial", sans-serif;
    margin-bottom: 0;
  }
}

.single-product div.product .product_meta {
  padding: 0;
  margin: 0;
  border: none;
}

.single-product div.product .product_meta a {
  color: var(--primary-text-color);
  font-weight: bold;
  text-decoration: none;
}

.single-product div.product form.cart {
  padding: 0;
  margin: 0;
}

.single-product div.product .variations_button {
  padding-top: 0;
}

.woocommerce-variation-description {
  font-size: 14px;
  color: var(--primary-text-color);
}

.woocommerce-variation.single_variation {
  display: none !important;
}

.single-product div.product table.variations {
  margin: 0 0 10px 0;
}
