.left-sidebar .widget-area {
    padding: 10px 15px;
    border: 1px solid #DFDFDF;
    width: 255px;
    margin-right: 25px;
}

.left-sidebar .content-area {
    width: calc(100% - 280px);
    @include media(tablet, max) {
        width: 100%;
    }
}