.contacts {
  max-width: 265px;

  &__item {
    &:first-child {
      font-weight: bold;
    }
    &:last-child {
      margin-top: 20px;
    }
  }

  &__item-text {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto", Sans-serif;
  }
}
