.woocommerce-order-details__title,
.woocommerce-column__title {
    margin: 0 0 10px 0;
    color: var( --primary-text-color);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.shop_table.order_details {
    border: 1px solid #D9D9D9;
    th {
        padding: 10px;
        color: var(--primary-text-color);
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        vertical-align: middle;
        background-color: #fff;
    }
    tbody {
        tr {
            td {
                padding: 10px;
                color: var(--primary-text-color);
                font-size: 14px;
                font-family: 'Arial', sans-serif;
                vertical-align: middle;
                background-color: #fff;
                .quantity {
                    @include media(tablet, max) {
                        margin-left: auto;
                        width: 102px;
                    }
                }
            }
            &:nth-child(2n) {
                td {
                    background-color: #fff;
                }
            }
        }
    }
    tfoot {
        tr {
            td {
                padding: 10px;
                color: var(--primary-text-color);
                font-size: 14px;
                font-family: 'Arial', sans-serif;
                vertical-align: middle;
                background-color: #fff;
                .quantity {
                    @include media(tablet, max) {
                        margin-left: auto;
                        width: 102px;
                    }
                }
            }
            &:nth-child(2n) {
                td {
                    background-color: #fff;
                }
            }
        }
    }
}

.woocommerce-order-overview.order_details {
    li {
        padding: 10px 0;
        color: var(--primary-text-color);
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        vertical-align: middle;
        background-color: #fff;
        strong {
            font-size: 14px;
        }
    }
    &:before,
    &:after {
        display: none;
    }
}