.woocommerce-checkout.left-sidebar {
  .content-area {
    width: 100%;
  }
  .entry-title {
    font-size: 32px;
    margin-bottom: 50px;
    @include media(tablet, max) {
      margin-bottom: 20px;
    }
  }
}

form.checkout {
  h3 {
    margin: 0 0 10px 0;
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
  }
  .col2-set {
    width: 50%;
    margin-right: 0;
    padding-right: 15px;
    @include media(tablet, max) {
      width: 100%;
    }
  }
  #order_review {
    width: 50%;
    @include media(tablet, max) {
      width: 100%;
    }
    .shop_table {
      border: 1px solid #d9d9d9;
      margin-bottom: 10px;
      .product-thumbnail {
        width: 60px;
        img {
          width: 32px;
          height: 32px;
        }
      }
      .product-remove {
        width: 20px;
      }
      a.remove {
        &:before {
          transition: var(--transition);
          color: #d7d7d7;
        }
        &:hover {
          &:before {
            color: var(--second-text-color);
          }
        }
      }
      .product-variation {
        .variation {
          display: flex;
          align-items: center;
          dt {
            display: none;
          }
          dd {
            margin: 0;
            padding-right: 5px;
            text-transform: uppercase;
          }
        }
      }
      .product-quantity {
        font-weight: normal;
      }
    }
  }
  #order_review_heading {
    width: 50%;
  }
}

#payment {
  .payment_methods {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  .place-order {
    padding: 0;
    margin-top: 0;
    background-color: #fff;
    .button {
      background-color: var(--second-text-color);
      transition: var(--transition);
      border-radius: 4px;
      font-size: 16px;
      padding: 16px 15px;
      max-width: 250px;
      &:hover {
        background-color: var(--accent-color);
      }
    }
  }
}

.woocommerce-terms-and-conditions-wrapper {
  font-size: 14px;
  color: #888;
  font-family: "Arial", sans-serif;
}

.woocommerce-billing-fields {
  .form-row {
    position: relative;
    margin: 0;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: transparent;
      z-index: 2;
    }
    input {
      font-size: 14px;
      color: var(--primary-text-color);
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0;
      font-family: "Arial", sans-serif;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}

.woocommerce-additional-fields {
  textarea {
    background-color: transparent;
    border: 1px solid #d9d9d9;
    box-shadow: none;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    color: var(--primary-text-color);
    transition: var(--transition);
    &:focus {
      outline: none;
      background-color: transparent;
      border: 1px solid var(--accent-color);
    }
    &::placeholder {
      color: #999;
    }
  }
}

.site {
  overflow: hidden;
}

.col2-set .form-row-first,
.col2-set .form-row-last {
  width: 100%;
  margin-right: 0;
}

.hentry .wp-post-image {
  margin-bottom: 0;
}
