.site-footer {
  padding: 50px 0;
  color: #fff;
  background-color: #0a0a0a;
  border-top: 4px solid var(--accent-color);

  @include media(tablet, max) {
    padding: 25px 0;
  }
}

.footer-widgets {
  padding-top: 0;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-widgets.col-3 .block {
  width: 33.3333%;
  margin-right: 0;

  @include media(tablet, max) {
    width: 50%;
    padding-right: 15px;
    margin-bottom: 15px;
  }
}

.footer-widgets.col-3 .block {
  .menu-footer-menu-container {
    margin-left: 50px;
    @include media(tablet-wide, max) {
      margin-left: 0;
    }
  }
}

.footer-widgets.col-3 .block.footer-widget-3 {
  .widget {
    max-width: 265px;
    margin-left: auto;
    @include media(tablet-wide, max) {
      max-width: 100%;
      margin-left: 0;
    }
  }
}

.site-footer a.contacts__item-text {
  text-decoration: none;
  color: var(--primary-text-color);
}

.site-footer a:not(.button):not(.components-button) {
  color: #fff;

  &:hover {
    color: var(--accent-color);
  }
}

.textwidget {
  p {
    font-size: 14px;
    margin-bottom: 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
}

.widget {
  margin: 0;
}

.menu-info-menu-container {
  ul.footer-menu {
    margin-bottom: 20px;
    li {
      a {
        font-weight: 400;
      }
    }
  }
}
