.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "test1 test2 test3"
    "test4 test2 test5";
  grid-gap: 20px;

  @include media(tablet-wide, max) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "test1 test2"
      "test3 test4"
      "test5  ..";
  }

  @include media(phablet, max) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "test1"
      "test2"
      "test3"
      "test4"
      "test5";
  }

  &__item {
    &:nth-child(1) {
      grid-area: test1;
    }
    &:nth-child(2) {
      grid-area: test2;
    }
    &:nth-child(3) {
      grid-area: test3;
    }
    &:nth-child(4) {
      grid-area: test4;
    }
    &:nth-child(5) {
      grid-area: test5;
    }
  }

  &__link {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;

    @include media(phablet, max) {
      max-height: 230px;
    }
  }

  &__link:hover &__img {
    transform: scale(1.05);
  }
  &__link:hover &__title {
    background-color: rgba(#8a0000, 0.9);
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    z-index: 1;
    transition: var(--transition);
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: rgba(#8a0000, 0.7);
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    letter-spacing: 1px;
    z-index: 2;
    transition: var(--transition);
  }
}
