.nice-select {
  min-width: 100px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  color: var(--primary-text-color);
  background-color: #fff;
  height: auto;
  font-size: 14px;
  line-height: 1;
  padding: 8px 30px 8px 10px;
  letter-spacing: 0px;
  font-family: "Arial", sans-serif;
  &:after {
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
  }
  &.open {
    border: 1px solid #8a0000;
  }
  .list {
    width: 100%;
    // height: 300px;
    // overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 2px 2px;
    font-family: "Arial", sans-serif;
    li {
      font-size: 14px;
      padding: 5px 10px;
      line-height: 1;
      min-height: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}
