.quantity {
    position: relative;
    display: flex;
    align-items: center;
    .qty {
        width: 35px;
        height: 35px;
        padding: 5px 5px;
        border: 1px solid #D9D9D9;
        background-color: #fff;
        box-shadow: none;
        text-align: center;
        transition: var(--transition);
        &:focus {
            border: 1px solid var(--accent-color);
            outline: none;
        }
    }
    &--order {
        padding-right: 0;
        width: 76px;
        .qty {
            width: 58px;
        }
    }
    &__btn {
        width: 26px;
        height: 35px;
        font-size: 20px;
        background: #fff;
        color: #666666;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--transition);
        text-align: center;
        padding: 0;
        border: 1px solid #D9D9D9;
        &--top {
            border-radius: 0 2px 2px 0;
            border-left: none;
        }
        &--down {
            border-radius: 2px 0 0 2px;
            border-right: none;
        }
        svg {
            path {
                transition: var(--transition);
            }
        }
        &:hover,
        &:focus {
            outline: none;
            border: 1px solid var(--accent-color);
            background-color: var(--accent-color);
            color: #fff;
            svg {
                path {
                    stroke: #fff;
                }
            }
        }
    }
}