ul.footer-menu {
  li {
    a {
      color: var(--second-text-color) !important;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      text-decoration: none;
      transition: var(--transition);

      &:hover {
        color: var(--accent-color) !important;
      }
    }
  }
}
