ul.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include media(tablet, max) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50vw;
    height: 100vh;
    background-color: var(--accent-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px;
    transition: var(--transition);
    &.active {
      left: 0;
    }
  }
  li {
    @include media(tablet, max) {
      margin-bottom: 10px;
    }
    a {
      display: block;
      padding: 20px 10px;
      font-size: 13px;
      color: var(--primary-text-color);
      text-transform: uppercase;
      transition: var(--transition);
      font-family: "Orienta", sans-serif;
      &:hover {
        color: var(--second-text-color);
      }
      @include media(tablet, max) {
        color: #fff;
        padding: 0;
      }
    }
    > ul {
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(-50%) translateZ(0);
      width: 100%;
      background-color: #fff;
      margin-left: 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 1078px;
      padding: 30px 50px 50px 50px;
      box-shadow: 0px 0px 40px rgba(163, 163, 163, 0.25);
      transition: var(--transition);
      opacity: 0;
      visibility: hidden;
      @include media(tablet, max) {
        display: none;
      }
      li {
        width: 25%;
        a {
          display: block;
          padding: 0;
          font-size: 13px;
          font-weight: bold;
          color: var(--second-text-color);
          font-family: "Arial", sans-serif;
          margin-bottom: 5px;
        }
        > ul {
          position: relative;
          display: block;
          box-shadow: none;
          padding: 0;
          @include media(tablet, max) {
            display: none;
          }
          li {
            width: 100%;
            a {
              padding: 0;
              font-size: 13px;
              text-transform: none;
              font-weight: normal;
              color: var(--primary-text-color);
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &:hover {
      > ul {
        opacity: 1;
        visibility: visible;
        top: 100%;
        li {
          > ul {
            opacity: 1;
            visibility: visible;
            top: 0;
          }
        }
      }
    }
  }
}

ul.main-menu-0 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include media(tablet, max) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75vw;
    height: 100vh;
    background-color: var(--accent-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px;
    transition: var(--transition);
    &.active {
      left: 0;
      overflow-y: auto;
    }
  }
  li {
    @include media(tablet, max) {
      margin-bottom: 10px;
    }
    & a {
      display: block;
      padding: 20px 10px;
      font-size: 13px;
      color: var(--primary-text-color);
      text-transform: uppercase;
      transition: var(--transition);
      font-family: "Orienta", sans-serif;
      &:hover {
        color: var(--second-text-color);
      }
      @include media(tablet, max) {
        color: #fff;
        padding: 0;
      }
    }
    > ul {
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(-50%) translateZ(0);
      width: 100%;
      background-color: #fff;
      margin-left: 0;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: 1078px;
      padding: 30px 50px 50px 50px;
      box-shadow: 0px 0px 40px rgba(163, 163, 163, 0.25);
      transition: var(--transition);
      opacity: 0;
      visibility: hidden;
      max-height: 400px;
      overflow-y: auto;
      @include media(tablet, max) {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateX(0);
        padding: 0;
        z-index: 2;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        box-shadow: none;
        padding-left: 15px;
        overflow-y: unset;
      }
      li {
        width: 25%;
        margin-bottom: 15px;
        @include media(tablet, max) {
          width: 100%;
          margin-bottom: 5px;
        }
        a {
          display: block;
          padding: 0;
          font-size: 13px;
          font-weight: bold;
          color: var(--second-text-color);
          font-family: "Arial", sans-serif;
          margin-bottom: 5px;
          @include media(tablet, max) {
            color: #fff;
            font-weight: normal;
          }
        }
        > ul {
          position: relative;
          display: block;
          box-shadow: none;
          padding: 0;
          height: auto;
          overflow-y: auto;
          transition: none;
          @include media(tablet, max) {
            display: none;
            padding-left: 30px;
          }
          li {
            margin-bottom: 0;
            width: 100%;
            a {
              padding: 0;
              font-size: 13px;
              text-transform: none;
              font-weight: normal;
              color: var(--primary-text-color);
              margin-bottom: 0;
              @include media(tablet, max) {
                color: #fff;
              }
            }
          }
        }
      }
    }
    &:hover {
      > ul {
        opacity: 1;
        visibility: visible;
        top: 100%;
        @include media(tablet, max) {
          top: 0;
        }
        li {
          > ul {
            opacity: 1;
            visibility: visible;
            top: 0;
          }
        }
      }
    }
  }
}

.site-header ul.menu li.current-menu-item > a {
  color: var(--accent-color);
}
