.widget-area {
  @include media(tablet, max) {
    display: none;
  }
}

.widget-area .widget {
  .sidebar-menu {
    font-family: "Arial", sans-serif;
    li {
      padding: 5px 0;
      a {
        font-weight: bold;
        color: var(--second-text-color);
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Arial", sans-serif;
        &:hover {
          color: var(--accent-color);
        }
      }
      > ul {
        margin-left: 10px;
        display: none;
        li {
          padding: 2px 0;
          a {
            color: var(--primary-text-color);
          }
          > ul {
            li {
              padding: 2px 0;
              a {
                color: var(--primary-text-color);
                font-weight: normal;
                text-transform: none;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.widget-area .widget .product-categories li > ul li > ul li {
  margin-bottom: 0;
}

.widget_product_categories ul li {
  margin-bottom: 5px;
}

.widget_product_categories ul .children {
  margin-top: 5px;
}

.widget-area .widget {
  .product-categories {
    font-family: "Arial", sans-serif;
    li {
      padding: 5px 0;
      &:before {
        display: none;
      }
      &.current-cat {
        & > a {
          color: var(--second-text-color);
        }
      }
      a {
        font-weight: bold;
        color: var(--second-text-color);
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Arial", sans-serif;
        &:hover {
          color: var(--accent-color);
        }
      }
      > ul {
        margin-left: 10px;
        li {
          padding: 2px 0;
          a {
            color: var(--primary-text-color);
          }
          > ul {
            li {
              padding: 2px 0;
              a {
                color: var(--primary-text-color);
                font-weight: normal;
                text-transform: none;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
