.top-menu {
  display: flex;
  align-items: center;
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
      @include media(tablet, max) {
        margin-right: 15px;
      }
    }
  }
  &__link {
    position: relative;
    font-size: 11px;
    color: var(--primary-text-color);
    text-transform: uppercase;
    display: block;
    font-family: "Orienta", sans-serif;
  }
  &__link:hover &__link-icon svg path {
    fill: var(--second-text-color);
  }
  &__link-text {
    @include media(tablet, max) {
      display: none;
    }
  }
  &__link-icon {
    display: none;
    svg {
      width: 25px;
      height: 25px;
      path {
        transition: var(--transition);
        fill: var(--primary-text-color);
      }
    }
    @include media(tablet, max) {
      display: block;
    }
  }
  &__cart-number2 {
    position: absolute;
    top: -13px;
    right: -13px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--second-text-color);
    font-size: 10px;
    line-height: 19px;
    font-family: "Orienta", sans-serif;
    @include media(tablet, max) {
      top: -5px;
      right: -5px;
    }
  }
}
