.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: var(--transition);
  border: none;
  &--fixed {
    background-color: var(--accent-color);
  }
  &--fixed &__logo {
    width: 70px;
    height: 70px;
  }
  &--fixed &__logo .custom-logo-link img {
    opacity: 0;
    visibility: hidden;
  }
  &--fixed &__logo img.white-logo {
    opacity: 1;
    visibility: visible;
  }
  &--fixed .search-form__input[type="search"] {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  &--fixed .search-form__input[type="search"]:focus {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  &--fixed .search-form__decoration {
    background-color: #ccc;
  }
  &--fixed .search-form input:focus ~ .search-form__button svg path {
    fill: #ccc;
  }
  &--fixed .search-form__input[type="search"]::placeholder {
    color: #fff;
  }
  &--fixed .search-form__button svg path {
    fill: #fff;
  }
  &--fixed .top-menu__link {
    color: #fff;
  }
  &--fixed .top-menu__link:hover {
    color: #ccc;
  }
  &--fixed ul.main-menu li a {
    padding: 10px;
  }
  &--fixed ul.main-menu li > ul li a {
    padding: 0;
  }
  &--fixed ul.main-menu li > ul li > ul li a {
    padding: 0;
  }
  &--fixed .top-menu__link-icon svg path {
    fill: #fff;
  }
  &--fixed .hamburger > span {
    background-color: #fff;
  }
  &--fixed .hamburger > span::before {
    background-color: #fff;
  }
  &--fixed .hamburger > span::after {
    background-color: #fff;
  }
  &--fixed .site-header__menu {
    background-color: #fff;
    box-shadow: 0px 5px 30px 0px rgb(0 0 0 / 10%);
  }
  &__top {
    display: flex;
    align-items: center;
    padding: 0 40px;
    @include media(tablet, max) {
      padding: 0 20px;
    }
    @include media(phablet, max) {
      flex-wrap: wrap;
      padding: 0 20px 20px 20px;
    }
  }
  &__logo {
    position: relative;
    flex-shrink: 0;
    order: 1;
    width: 120px;
    height: 120px;
    transition: var(--transition);
    @include media(tablet, max) {
      width: 100px;
      height: 100px;
    }
    @include media(phablet, max) {
      width: 70px;
      height: 70px;
    }
    img.white-logo {
      position: absolute;
      top: 0;
      left: 0;
      transition: var(--transition);
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0;
      visibility: hidden;
    }
    .custom-logo-link img {
      position: absolute;
      top: 0;
      left: 0;
      transition: var(--transition);
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @include media(phablet, max) {
      order: 1;
    }
  }
  &__search {
    margin-left: auto;
    order: 2;
    @include media(phablet, max) {
      order: 4;
      width: 100%;
    }
  }
  &__top-menu {
    order: 3;
    @include media(phablet, max) {
      order: 2;
      margin-left: auto;
    }
  }
  &__menu {
    position: relative;
    background-color: #f0f0f0;
    transition: var(--transition);
  }
  &__main-menu {
    max-width: 1078px;
    margin: 0 auto;
  }
}

.home.post-type-archive-product .site-header {
  margin-bottom: 0;
}

.hamburger {
  position: relative;
  display: none;
  align-items: center;
  order: 4;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  margin-left: 15px;
  @include media(tablet, max) {
    order: 3;
    display: flex;
  }
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-text-color);
  transition: var(--transition);
}

.hamburger > span::before {
  content: "";
  top: -8px;
}

.hamburger > span::after {
  content: "";
  top: 8px;
}

.hamburger.active > span {
  transform: rotate(45deg);
  background-color: var(--second-text-color);
}

.hamburger.active > span::before {
  top: 0;
  transform: rotate(0);
  background-color: var(--second-text-color);
}

.hamburger.active > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: var(--second-text-color);
}

.home.page:not(.page-template-template-homepage) .site-header {
  margin-bottom: 0;
}
