table.cart {
  border: 1px solid #d9d9d9;
  th {
    padding: 10px;
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: "Arial", sans-serif;
    vertical-align: middle;
    background-color: #fff;
  }
  td.product-remove {
    padding: 10px;
    width: 35px;
    border-top: none;
    @include media(phone-wide, max) {
      padding: 10px 0 10px 10px;
    }
  }
  tbody {
    tr {
      td {
        padding: 10px;
        color: var(--primary-text-color);
        font-size: 14px;
        font-family: "Arial", sans-serif;
        vertical-align: middle;
        background-color: #fff;
        .quantity {
          @include media(tablet, max) {
            margin-left: auto;
            width: 102px;
          }
        }
      }
      &:nth-child(2n) {
        td {
          background-color: #fff;
        }
      }
    }
  }
  a.remove {
    width: 22px;
    height: 22px;
    &:before {
      width: 18px;
      height: 18px;
      transition: var(--transition);
      color: #d7d7d7;
    }
    &:hover {
      &:before {
        color: var(--second-text-color);
      }
    }
  }
  td.product-name {
    a {
      color: var(--primary-text-color);
      text-decoration: none;
      &:hover {
        color: var(--second-text-color);
      }
    }
  }
  td.product-thumbnail {
    width: 60px;
    img {
      margin: 0;
    }
    @include media(phone-wide, max) {
      display: none;
    }
  }
  .product-variation {
    .variation {
      display: flex;
      align-items: center;
      @include media(tablet, max) {
        margin: 0;
        justify-content: flex-end;
      }
      dt {
        display: none;
      }
      dd {
        margin: 0;
        text-transform: uppercase;
      }
    }
    .product__simple-attribute--cart {
      @include media(tablet, max) {
        text-align: right;
      }
    }
  }
  td.product-quantity .qty {
    @include media(phone-wide, max) {
      width: 30px;
    }
  }
}

.entry-title,
.cart_totals h2 {
  margin: 0 0 10px 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

table.cart td.product-remove a.remove {
  @include media(tablet, max) {
    position: relative;
    top: 0;
    right: 0;
    font-size: 14px;
  }
}

.cart-collaterals .cart_totals {
  width: 100%;
}

table.shop_table {
  tbody {
    tr {
      th {
        padding: 10px;
        color: var(--primary-text-color);
        font-size: 14px;
        font-family: "Arial", sans-serif;
        vertical-align: middle;
        background-color: #fff;
      }
      td {
        padding: 10px;
        color: var(--primary-text-color);
        font-size: 14px;
        font-family: "Arial", sans-serif;
        vertical-align: middle;
        background-color: #fff;
      }
    }
    tr:nth-child(2n) td {
      background-color: #fff;
    }
  }
  .product-quantity {
    .quantity {
      justify-content: flex-end;
    }
  }
}

.woocommerce-cart.left-sidebar {
  .widget-area {
    @include media(tablet-wide, max) {
      display: none;
    }
  }
  .content-area {
    @include media(tablet-wide, max) {
      width: 100%;
    }
  }
}

table.shop_table_responsive tr td {
  display: table-cell;
  text-align: left;
}

table.shop_table_responsive tr td[data-title]::before {
  display: none;
}

table.cart td.actions {
  padding: 0 10px 10px 0;
  @include media(tablet, max) {
    text-align: right;
  }
}
