.login {
  .form-row {
    label {
      display: block;
      font-size: 14px;
      color: var(--primary-text-color);
      font-family: "Arial", sans-serif;
      margin-bottom: 10px;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .show-password-input {
    display: none;
  }
}

.register {
  position: relative;
  .form-row {
    label {
      display: block;
      font-size: 14px;
      color: var(--primary-text-color);
      font-family: "Arial", sans-serif;
      margin-bottom: 10px;
    }
    .woocommerce-form__label-for-checkbox {
      margin-top: 10px;
    }
  }
  p {
    font-size: 14px;
    color: var(--primary-text-color);
    font-family: "Arial", sans-serif;
  }
  .register__text {
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: "Arial", sans-serif;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    .form-row {
      &:first-child {
        width: 164px;
        margin-right: 20px;
      }
      &:last-child {
        // width: 60%;
      }
    }
  }
}
