.woocommerce-pagination{
  width: 100%;

  ul.page-numbers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    li{

      .page-numbers{
        padding: 7px 10px;
        font-size: 14px;
        line-height: 1;
        font-weight: bold;
        color: #666;
        background-color: #fff;
        font-family: 'Arial', sans-serif;
        border-radius: 2px;
        transition: var(--transition);

        &.current, &:hover{
          color: #fff;
          background-color: var(--second-text-color);
        }
      }
    }
  }
}

.woocommerce-pagination .next{
  &:after{
    content: '';
    width: 13px;
    height: 13px;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    transform: rotate(135deg);
    margin-left: -6px;
    margin-top: -6px;
    transition: var(--transition);
  }

  &:hover{
    background-color: #fff!important;
    &:after{
      border-top: 2px solid var(--second-text-color);
      border-left: 2px solid var(--second-text-color);
    }
  }

}
.woocommerce-pagination .prev{
  &:after{
    content: '';
    width: 13px;
    height: 13px;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    transform: rotate(-45deg);
    margin-left: -6px;
    margin-top: -6px;
    transition: var(--transition);
  }

  &:hover{
    background-color: #fff!important;
    &:after{
      border-top: 2px solid var(--second-text-color);
      border-left: 2px solid var(--second-text-color);
    }
  }

}