.main-banner{
  position: relative;
  padding-bottom: 15.625%;
  display: none;

  @include media(tablet, max){
    padding-bottom: 30%;
  }
  @include media(phablet, max){
    padding-bottom: 40%;
  }

  &__img{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}