@import "vars.scss";
@import "mixins.scss";
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  &.fixed {
    overflow: hidden;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--second-text-color);
  transition: var(--transition);
  text-decoration: none;
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    outline: none;
  }
}

.hentry .entry-content a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.home {
  .site-content {
    padding-top: 175px;
    @include media(tablet, max) {
      padding-top: 75px;
    }
  }
}

.site-content {
  padding-top: 200px;
  @include media(tablet, max) {
    padding-top: 130px;
  }
}

.site-main {
  margin-bottom: 0;
}

.content-area {
  margin-bottom: 0;
  padding-bottom: 35px;
}

.main-text {
  margin: 25px 0;
  padding: 20px 15px;
  text-align: center;
  font-size: 14px;
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

.home {
  .main-banner {
    display: block;
  }
}

.content-area {
  // padding-top: 20px;
}

.product_title {
  margin: 0 0 10px 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  letter-spacing: 0px;
}

.home.left-sidebar .content-area {
  width: 100%;
  margin: 0;
}

.woocommerce-products-header__title,
.page-title {
  margin: 0 0 0 0;
  color: var(--primary-text-color);
  font-size: 21px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  letter-spacing: 0px;
}
