:root {
  --primary-text-color: #2a2a2a;
  --second-text-color: #8a0000;
  --accent-color: #8a0000;

  --transition: all 0.3s ease;
}

$breakpoints: (
  phone: 400px,
  phone-wide: 480px,
  phablet: 576px,
  tablet-small: 640px,
  tablet: 768px,
  tablet-wide: 1024px,
  desktop: 1200px,
  desktop-wide: 1440px,
);
