button,
.button {
  border-radius: 2px;
  color: #fff;
  background-color: var(--second-text-color);
  transition: var(--transition);
  line-height: 1;
  font-family: "Open Sans", Sans-serif;
  &:hover {
    color: #fff;
    background-color: var(--accent-color);
  }
  &:focus {
    color: #fff;
    outline: none;
  }
}

button.alt.add-to-cart {
  padding: 10px 30px 5px 30px;
  border-radius: 2px;
  background-color: var(--second-text-color);
  transition: var(--transition);
  line-height: 1;
  &:hover {
    background-color: var(--accent-color);
  }
}

.wc-proceed-to-checkout {
  text-align: right;
}

.woocommerce-cart-form {
  margin-bottom: 0;
}

table.cart {
  margin-bottom: 20px;
}

.wc-proceed-to-checkout .button.checkout-button {
  background-color: var(--second-text-color);
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  width: auto;
  display: inline-block;
  padding: 15px;
  &:hover {
    background-color: var(--accent-color);
  }
}
